
<div class="container-fluid footer_block1">

  <div class="container">
    <div class="footer_block1_left">Subscribe to Our weekly newsletter</div>
    <div class="footer_block1_right">
      <input type="text" placeholder="Enter Valid Email Address" class="footer_block1input">

      <input type="submit" value="Submit" class="footer_block1btn">
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>


  </div>

</div>


<div class="container-fluid footer_block2">
  <div class="container">
    <div class="footer_block2_con1"> <a [routerLink]="['/']"><img src="../../assets/images/logo.png" alt="#"></a></div>
    <div class="footer_block2_con2">
      <ul>
        <li><a [routerLink]="['/']"> Home </a></li>
        <li><a [routerLink]="['/']"> Get Hired</a></li>
        <li> <a [routerLink]="['/quantitative_urine_analysis']"> Quantitative Urine Analysis (QUA)</a></li>
        <li> <a [routerLink]="['/SubstanceMonitoringComponent']"> Substance Monitoring</a></li>
        <li> <a [routerLink]="['/pharmacogenetic']"> The Pharmacogenetic Test </a></li>
        <li> <a [routerLink]="['/essential_wellness']">  Essential Wellness Blood Test Panel </a></li>
        <li> <a [routerLink]="['/allergen_immunotherapy']">   Allergen Immunotherapy    </a></li>
        <li> <a [routerLink]="['/login']" >Login</a></li>
      </ul>
    </div>
    <div class="footer_block2_con3"> Copyright &copy; 2017 Foremost Laboratories. All rights reserved.</div>
    <div class="clearfix"></div>
  </div>
</div>
