<app-header></app-header>


<div class="allergen_banner_wrapper">

  <h2>Earn north of 6 figures from just one qualified physician practice</h2>


  <img src="../../assets/images/allergen_Immunotherapy_bannerimg.jpg" alt="#"  class="allergen_mobile_banner">

  <h4>ALLERGEN IMMUNOTHERAPY

    <label>THE NEED FOR ALTERNATIVE DELIVERY AND<br/>
      PAYMENT SYSTEMS
    </label>
  </h4>




</div>





<div class="allergen_bottom_block6">
  <h2>BACKGROUND: ALLERGIC RHINITIS</h2>

  <div class="allergen_block6_left">

    <div class="block6_left_left">
      <img src="../../assets/images/allergen_img7.jpg" alt="#" >
      <h2>~ 12 million physician office visits because of allergic rhinitis in 2006.1
      </h2>

    </div>
    <div class="block6_left_right">
      <h3>Allergic rhinitis affects 10-30% of all adults and ~ 40% of children.<sup>2</sup> </h3>
      <h4>From 2000 to 2005, the cost of treating allergic rhinitis increased from $6.1 billion to $11.2 billion. More than half of that was prescription medications.3 In 2010 the total
        cost of treating allergic rhinitis was estimated to be in excess of $20 billion. <sup>4</sup></h4>

      <h3>Immunotherapy helps reduce hay fever symptoms in about 85% of people with allergic rhinitis.<sup>5</sup>
      </h3>
      <h4>Allergic Rhinitis is estimated to affect approximately 60 million people in the US. <sup>6</sup></h4>


    </div>




    <div class="clearfix"></div>
  </div>


  <div class="allergen_block6_right">   <img src="../../assets/images/allergen_img6.jpg" alt="#" ></div>



  <div class="clearfix"></div>
</div>


<div class="allergen_bottom_block5">

  <div class="allergen_block5_subdiv">

    <label>1</label>

    <div class="text_div">
      <span>Cherry DK,</span> Hing E, Woodwell DA, Rechtsteiner EA. National Ambulatory
      Medical Care Survey: 2006 summary. National health statistics reports;
      no 3. Hyattsville, MD: National Center for Health Statistics. 2008.


    </div>

    <div class="clearfix"></div>
  </div>
  <div class="allergen_block5_subdiv">

    <label>2</label>

    <div class="text_div">
      <span>The Diagnosis and Management of Rhinitis: </span> An Updated Practice
      Parameter. Joint Task Force on Practice Parameters. J Allergy Clin
      Immunol. 2008; 122: S1-S84.
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="allergen_block5_subdiv">

    <label>3</label>

    <div class="text_div">
      <span>Soni A. Allergic rhinitis: </span> Trends in use and expenditures, 2000 to
      2005. Statistical Brief #204, Agency for Healthcare Research and
      Quality. 2008.
    </div>

    <div class="clearfix"></div>
  </div>


  <div class="allergen_block5_subdiv">

    <label>4</label>

    <div class="text_div">
      <span>AAAAI </span> Annual Meeting, 2013.
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="allergen_block5_subdiv">

    <label>5</label>

    <div class="text_div">
      <span>Airborne allergens:  </span> Something in the air. National Institute of Allergy
      and Infectious Diseases. NIH Publication No. 03-7045. 2003.
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="allergen_block5_subdiv">

    <label>6</label>

    <div class="text_div">
      <span>Nathan RA.   </span> The burden of allergic rhinitis. Allergy Asthma Proc
      2007;28:3-9.

    </div>

    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>



<div class="allergen_bottom_block4">

  <div class="allergen_bottom_block4_left">
    <h2>SUBCUTANEOUS IMMUNOTHERAPY (SCIT)</h2>

    <img src="../../assets/images/allergen_img4.jpg" alt="#" class="allergenleft_img4" >

    <div class="allergen_block4_left_text">
      <h3>Contraindications:1</h3>

      <ul>
        <li>Patients using β-blockers (relative contraindication)</li>
        <li> Uncontrolled asthma, despite pharmacotherapy (determined by allergist)</li>
        <li> Recent myocardial infarction</li>
        <li> Significant arrhythmia</li>
        <li>New-onset HIV</li>
        <li>Aids</li>
        <li>Failure of a major organ system</li>
        <li>Systemic lupus erythematosus</li>
      </ul>

    </div>


    <div class="clearfix"></div>

    <label>1 Cox L, Nelson H, Lockey R. J Allergy Clin Immunol. Allergen immunotherapy: A practice parameter third update, 2011 Jan;127(1 Suppl):S1-55. Epub 2010 Dec 3.</label>
  </div>



  <div class="allergen_bottom_block4_right">

    <h2>ALTERNATIVES TO SCIT MUST
      BE DEVELOPED</h2>

    <h3><span>Solution:</span> Transdermal Immunotherapy (TdIT)</h3>

    <img src="../../assets/images/allergen_img5.jpg" alt="#" class="allergen_img5" >

    <h4>Utilizes liposomal transport medium across epithelium that delivers the same allergens in allergy shots in effective concentrations to the same immune cells in the subcutaneous tissue to elicit the same immune modulation that is delivered with allergy shots
    </h4>


  </div>




  <div class="clearfix"></div>
</div>



<img src="../../assets/images/page3_img7.jpg" alt="#" class="page3_img7">

<div class="allergen_bottom_block3">

  <div class="allergen_bottom_block3_left">

    <h2>TRANSDERMAL IMMUNOTHERAPY
      (TDIT) POTENTIAL</h2>
    <h3>Transdermal administration of immunotherapy on the skin as a method of immunization is attractive, allows
      for a needleless administration of an antigen to the surface of the epidermis containing Langerhans cells
    </h3>

    <h4>Advantages of this immunization include: </h4>

    <h5>
      <span>No vascular involvement </span>
      <span>Effective </span>
      <span>Safe  </span>
    </h5>

    <img src="../../assets/images/allergen_img2.jpg" alt="#" class="allergen_img2">


    <label>1Wu, A. Y. (2012). Immunotherapy-Vaccines for allergic diseases. J Thorac Dis, 4(2), 198-202. </label>


  </div>

  <div class="allergen_bottom_block3_right">
    <h2>DERMAL IMMUNIZATION IN THE THERAPY OF
      ALLERGIC DISEASES1</h2>

    <div class="allergen_tablediv">

      <div class="allergen_tabledivdiv1">
        <div>
          Allergic diseases are the result of immune
          response to innocuous environmental antigens
        </div>
      </div>

      <div class="allergen_tabledivdiv2">
        <div>
          <strong>40%</strong>

          <span>of population is affected </span>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    <ul>

      <li>Th2 lymphocytes releasing IL-4, IL-5 and IL-13 play a key role in the production of  IgE antibodies and the
        development of different allergies</li>

      <li> Allergy treatment includes allergen avoidance and pharmacotherapy.</li>

      <li> Commonly used symptomatic therapy includes:</li>

      <li>corticosteroids</li>

      <li>antihistamines and inhaled (β2-adrenoreceptor agonists)</li>

      <li>These drugs efﬁciently ameliorate IgE-mediated symptoms.</li>

    </ul>

    <label>1 Romagnani, S. (2004). Immunologic influences on allergy and the T H 1/T H 2 balance. Journal of Allergy and Clinical
      Immunology, 113(3), 395-400.
    </label>





  </div>



  <div class="clearfix"></div>
</div>



<div class="allergen_bottom_block2">

  <h2>ALTERNATIVES TO SCIT: <span>WHY THE SKIN?</span></h2>


  <ul class="ul1">

    <li>The skin is constantly exposed to many antigens and
      plays a crucial role in innate protection from different
      pathogens present in the external world.</li>

  </ul>

  <ul class="ul1">

    <li>While development of the immune response to
      pathogens is of vital importance to any given
      individual, response to innocuous antigens is
      not required and even more, sometimes it can be
      harmful leading to allergy or autoimmunity. </li>

  </ul>

  <ul class="ul1">

    <li>Thus, discrimination between pathogen-associated
      antigens and innocuous antigens, in order to induce
      either an effector immune response or tolerance,
      is of utmost importance in the skin.  </li>

  </ul>

  <ul class="ul1_last">

    <li>This suggested the possibility of the using the skin as a focus of strategies to induce
      immunopotentiation or tolerance of selected antigens..  </li>

  </ul>

  <div class="clearfix"></div>

  <ul class="ul2">

    <li>Many TdIT studies have shown that exposure to an antigen results in the induction of regulatory cells that inhibit T cell-mediated immune responses. Additionally, many studies show that transdermal immunization with an antigen in the presence of PAMPs reverses skin-induced allergic reactions
    </li>

  </ul>
  <div class="clearfix"></div>
</div>

<div class="allergen_bottom_block2">

  <h2>CLINICAL SUMMARY:</h2>



  <ul class="ul3">

    <li>IgE-mediated allergy is a highly prevalent disease, highly
      disruptive to patient’s quality of life and expensive to treat  </li>

    <li>Lymph nodes and the epidermis contain high densities of dendritic cells and low numbers of mast cells and
      basophils.   </li>

  </ul>

  <ul class="ul4">

    <li>Allergen-specific immunotherapy (SIT) should be
      the preferred treatment, as it has long lasting
      protective effects and can stop the progression
      of the disease.  </li>

    <li>However, few allergic patients choose to undergo SIT,
      <span> Due to the long treatment time and </span>
      <span> Potential allergic adverse events </span>


    </li>
    <div class="clearfix"></div>

    <li>The epidermis has the added benefit of not being vascularized thereby reducing the chances of anaphylactic
      shock due to leakage of allergen.
      <span>This makes the transdermal application of immunotherapy the ideal method of modulating immune
responses to treat and modify the course of asthma and allergic disorders. </span>



    </li>

  </ul>


  <ul class="ul5">

    <li>Since the beneficial effects of SIT are mediated by antigen presenting cells inducing Th1, Treg and antibody responses, whereas the adverse events are caused by mast cells and basophils, the therapeutic window of SIT may be widened by targeting tissues rich in antigen presenting cells. </li>


  </ul>
  <div class="clearfix"></div>




</div>


<div class="allergen_bottom_block2">

  <h2>SUMMARY:</h2>


  <ul class="ul1">

    <li>Allergic rhino conjunctivitis affects more than 30-40% of
      the population of the United States and represents a
      significant cause of illness with impact on daily activities
      and sleep quality. </li>

  </ul>

  <ul class="ul1">

    <li>While many patients respond effectively to
      symptomatic pharmacotherapy such as
      antihistamines and corticosteroids, a substantial
      proportion of patients report inadequate symptom
      alleviation and reduced quality of life (QoL). </li>

  </ul>

  <ul class="ul1">

    <li>Here, allergen-specific immunotherapy (SIT) offers
      a disease-specific causative treatment alternative
      by inducing tolerance to the allergen. </li>

  </ul>

  <ul class="ul1">

    <li>More recently, foods have been explored due to the enhanced safety profile of novel forms of immunotherapy</li>

  </ul>

  <div class="clearfix"></div>

  <ul class="ul2">

    <li>Hence, patients who suffer from allergies in which allergen avoidance is not possible, such as pollen or house dust mite allergy, patients with systemic reactions to hymenoptera venom and patients whose symptoms have not responded adequately to optimal pharmacotherapy are usually the prime candidates for SIT.
    </li>

  </ul>
  <div class="clearfix"></div>
</div>

<div class="allergen_bottom_block2">

  <h2>SUPPORT FOR TdIT...</h2>


  <ul class="ul6">

    <li>In 1921 suggested the potential suitability of epicutaneous immunotherapy (EPIT)
      came from an observation that noted when an asthmatic patient experienced
      complete symptom relief after administration of horse dander on scarified skin,
      a method called “cutiréactions répé-tées.” </li>

  </ul>

  <ul class="ul6">

    <li>Then, French allergologists paved the way for EPIT during the
      1950s and 60s on  heavily scarified skin, a method called
      “méthode de quadrillage cutané.”
    </li>

  </ul>


  <ul class="ul6">

    <li>Eichenberger and Storck, who reported a treatment success rate of approximately 80%. </li>

  </ul>

  <div class="clearfix"></div>

  <ul class="ul7">

    <li>Symptoms rapidly diminished after a single application,  </li>

    <li><span> Effect lasted from three days to three weeks.  </span>
      <span>  Hence, 6 to 12 treatments were required for a symptom free season </span>
      <span> The method was reported to be also effective in patients who responded inadequately to conventional SCIT.</span>


    </li>


  </ul>
  <div class="clearfix"></div>
</div>


<div class="allergen_bottom_block1">

  <img src="../../assets/images/allergen_img1_mobile.jpg" alt="#" class="allergen_img1_mobile">

  <div class="allergen_bottom_block1_text">

    <ul>

      <li>Blamoutier P, Blamoutier J, Guibert L. [Treatment of pollinosis with pollen extracts by the method of cutaneous quadrille ruling]. Presse Med 1959; 67:2299-301; PMID:13801278.</li>

      <li> Blamoutier P, Blamoutier J, Guibert L. Traitement cosaisonnier de la pollinose par l’application d’extraits de pollens sur des quadrillages cutanés. Revue Francaise d’Allergie 1961; 1:112-20; http://dx.doi.org/10.1016/ S0370-4688(61)80056-2.</li>

      <li>Eichenberger H, Storck H. Co-seasonal desensitization of pollinosis with the scarification-method of Blamoutier. Acta Allergol 1966; 21:261-7;PMID:5953419.</li>

      <li>Martin-DuPan R, Buser F, Neyroud M. [Treatment of pollen allergy using the cutaneous checker square method of Blamoutier and
        Guibert]. Schweiz Rundsch Med Prax 1971; 60:1469-72; PMID:5141542.</li>

      <li> Palma-Carlos A-G. Traitement co-saisonnier des pollinoses au Portugal par la méthode des quadrillages cutanés. Revue Francaise d’Allergie 1967; 7:92-5; http://dx.doi.org/10.1016/S0370-4688(67)80152-2.</li>

    </ul>

  </div>


</div>
<app-footer></app-footer>
