<app-header></app-header>
<img src="../../assets/images/cancer_screening_img1.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block; border: solid 2px #ddd; border-bottom: none;">
<img src="../../assets/images/cancer_screening_img2.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img3.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img4.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img5.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img6.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img7.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img8.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img9.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img10.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img11.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<img src="../../assets/images/cancer_screening_img12.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<div style="background: #1e78c1;"><img src="../../assets/images/cancer_screening_img13.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;"></div>
<img src="../../assets/images/cancer_screening_img14.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;">
<div style="background: #1e78c1;"><img src="../../assets/images/cancer_screening_img15.jpg" alt="#" style="max-width: 100%; margin: 0 auto; display: block;"></div>
<app-footer></app-footer>