

<!--  <script>


      $(document).ready(function(){
          if (window.location.hash == "#myDiv") {
              $('html, body').animate({
                  scrollTop: $("#myDiv").offset().top
              }, 1000);
          }
      });
  </script>-->

<!-- /top menu -->

<!--<div class="container-fluid top_menublock top_menublock2">
  <div class="container">



    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logodiv">

      <a href="index.php"><img src="../../assets/images/logo.png" alt="#"></a>

    </div>

    <div class="nav2"><a href="javascript void(0)">We test for</a></div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 menublock_wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
          <div class="navbar-header">
            <span class="responsivemenu">MENU</span>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <li class="nav1"><a href="javascript void(0)">We test for</a></li>

              <li><a href="index.php"  > Home </a></li>

              <li> <a href="quantitative _urine_analysis.html" > Quantitative Urine Analysis (QUA)</a></li>
              <li> <a href="substance_monitoring.php" > Substance Monitoring</a></li>
              <li> <a href="the_pharmacogenetic.php" > The Pharmacogenetic Test </a></li>
              <li> <a href="essential_wellness.php">  Essential Wellness Blood Test Panel </a></li>
              <li> <a href="allergen_Immunotherapy.php" >   Allergen Immunotherapy    </a></li>

              <li><a href="index.php#myDiv" class="active"> Get Hired</a></li>

            </ul>
          </div>
          &lt;!&ndash; /.navbar-collapse &ndash;&gt;
        </div>
        &lt;!&ndash; /.container-fluid &ndash;&gt;
      </nav>
    </div>
  </div>
</div>-->


<app-header></app-header>
<!--<img src="../../assets/images/home_demo_banner.jpg" alt="#" style="width: 100%;">-->
<div class="home_banner_wrapper">
  <h2>Earn north of 6 figures from just one qualified physician practice</h2>
  <img src="../../assets/images/home_banner_img2.jpg" alt="#"  class="home_banner_img2">
  <div class="home_banner_con">
    <img src="../../assets/images/home_bammer_arrow_img.png" alt="#"  class="home_bammer_arrow_img">
    <h3>We are <span>looking</span> for</h3>
    <h4>Laboratory Sales Representative<br/>
      Foremost Labs - United States<br/>
      Full-time, Part-time, Commission
    </h4>
    <div class="homebannerdevider"></div>
  <!--  <?php if(!isset($_SESSION['is_login'])) {?>   <a href="index.php#myDiv" class="homebannerlink"> Fill out our questionnaire and get hired</a> <?php } ?>-->

      <a href="index.php#myDiv" class="homebannerlink" *ngIf="cookiedetails==0 || cookiedetails==null"> Fill out our questionnaire and get hired</a>
  </div>
</div>

<div class="container-fluid home_block1" id="home_block1"  ng2-scrollable (elementVisible)="scrollEvent()">

  <h2>THE OPPORTUNITY</h2>
  <h3>Earn <span>$4,000</span> to <span>$10,000</span> a month from just one qualified practice!</h3>

  <div class="home_qualify_btn"><a href="index.php#myDiv" > See if you Qualify</a></div>


  <div class="home_block1_text_div">

    <div class="home_block1_text">

      <ul>
        <li>We are currently expanding our team of experienced healthcare sales professionals who will represent the future of healthcare. We have a unique
          business model that focuses on the trends and needs for complex laboratory testing services of today's providers. </li>

        <li>Our position is perfectly suited to work alongside any other non-conflicting healthcare position you currently have. You can set your own hours
          and work remotely, with the possibility for extraordinary income.</li>

        <li>We are a four year old rapidly growing laboratory services company offering cutting edge high complexity laboratory services. We in addition
          offer the latest technology in allergy testing, a blood spot test verses blood draw and trans dermal immunotherapy treatment.</li>

        <li>Foremost Laboratories is committed to providing the highest level of methodologies and accuracy for toxicology confirmation testing and
          PGX – complemented with unparalleled customer service and expertise.</li>

        <li>Our innovative and value-focused approach enables us to provide gold-standard results to a vast spectrum of physicians requiring substance
          abuse confirmation tests and PGX.</li>

        <li>Our physician demographic encompasses pain management, psychiatry, OBGYN, primary care, addiction clinics, and more. Foremost
          Laboratories is a CLIA certified and COLA accredited, high complexity reference laboratory.</li>

        <!--<li>Additionally, Foremost enables scaled services for governmental entities and regulatory bodies.</li>

        <li>Benefits to the doctor include enhanced analytical information to help improve patient outcomes and documentation related to
          MIPPS/MACRA comliance.</li>-->

      </ul>
    </div>
    <img src="../../assets/images/home_img1.jpg" alt="#" class="home_img1">

    <div class="clearfix"></div>

  </div>



</div>




<!--<img src="../../assets/images/home_demo_img4.jpg" alt="#"  style="width: 100%;" >-->
<div class="home_middle_block">
  <img src="../../assets/images/home_page_middle_banner_mobile.jpg" alt="#" class="home_middle_block_mobile">

  <div class="home_middle_block_wrapper">

    <h2>IF YOU KNOW THE PHYSICIANS OR HAVE RELATIONSHIPS WITH THE OFFICE STAFF MEMBERS IN THE FOLLOWING TAXONOMIES WE HAVE THE PERFECT INCOME VERTICAL.
      WITH THESE RELATIONSHIPS THIS IS BY FAR THE EASIEST SALE IN THE INDUSTRY. </h2>

    <ul>

      <li><label>OBGYN</label></li>
      <li><label>General Practice</label></li>
      <li><label>Family Medicine</label></li>
      <li><label>Primary Care</label></li>


      <li><label>Cardiology</label></li>
      <li><label>Neurology</label></li>
      <li><label>Internal Medicine</label></li>
      <li><label>Endocrinology</label></li>


      <li><label>DO
        <span>(Doctor of Osteopathy)</span></label>

      </li>

      <li><label>Pain Management
        <span>(Integrated Practices)</span></label>
      </li>

      <li><label>Integrated<br/>
        Specialty Groups</label></li>
      <li><label>You can work part
        time or full time.</label>
      </li>




      <div class="clearfix"></div>
    </ul>
    <div class="clearfix"></div>

  </div>

</div>


<div  id="myDiv" class="scrollable section home_form_block">
  <h1 id="formh">Foremost Laboratories Qualifying Questionnaire</h1>

  <h3>To be considered for employment with Foremost Laboratories, please fill out this interview questionnaire. Once received, your hiring coordinator will be in<br/>
    touch to schedule a telephone interview. All information will be private and used only in relation to this application.<br/>
    It will not be provided to any 3rd parties.</h3>


  <form role="form" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)" *ngIf="cookiedetails==0 || cookiedetails==null">

    <div class="form_div1">

      <div class="form-group">

        <label>First Name <span>*</span></label>
        <input type="text" class="form-control" [formControl]="dataForm.controls['first_name']">
        <span class="has-error" *ngIf ="dataForm.controls['first_name'].touched && !dataForm.controls['first_name'].valid">First Name is Required !</span>

        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <label>
          Last Name <span>*</span></label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['last_name']">
        <span class="has-error" *ngIf ="dataForm.controls['last_name'].touched && !dataForm.controls['last_name'].valid">Last Name is Required !</span>

        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <label>
          Personal Email<span>*</span></label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['personal_email']">
        <span class="has-error" *ngIf ="dataForm.controls['personal_email'].touched && getemail('blank')==true">Email is Required !</span>
        <span class="has-error" *ngIf ="dataForm.controls['personal_email'].touched && getemail('invalid')==true">Email is not valid!</span>

        <div class="clearfix"></div>
      </div>


      <div class="form-group">
        <label>
          Secondary Email
        </label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['secondary_email']">

        <div class="clearfix"></div>
      </div>


      <div class="form-group">
        <label>
          Cell Phone <span>*</span></label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['cellphone']">
        <span class="has-error" *ngIf ="dataForm.controls['cellphone'].touched && !dataForm.controls['cellphone'].valid">Cellphone is Required !</span>

        <div class="clearfix"></div>
      </div>


      <div class="form-group">
        <label>
          Street Address <span>*</span></label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['address']">
        <span class="has-error" *ngIf ="dataForm.controls['address'].touched && !dataForm.controls['address'].valid">Street Address is Required !</span>

        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <label>
          City <span>*</span></label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['city']">
        <span class="has-error" *ngIf ="dataForm.controls['city'].touched && !dataForm.controls['city'].valid">City is Required !</span>

        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <label>
          State  <span>*</span></label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['state']">
        <span class="has-error" *ngIf ="dataForm.controls['state'].touched && !dataForm.controls['state'].valid">State is Required !</span>

        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <label>
          Postal Code  <span>*</span></label>
        <input type="text" class="form-control"  [formControl]="dataForm.controls['postal_code']">
        <span class="has-error" *ngIf ="dataForm.controls['postal_code'].touched && !dataForm.controls['postal_code'].valid">Postal Code is Required !</span>

        <div class="clearfix"></div>
      </div>

      <div class="form-group">
        <label>Best Time To Reach You </label>
        <!--<label id="main-section">Bla bla bla</label>-->
        <input type="text" class="form-control"  [formControl]="dataForm.controls['best_time']">

        <div class="clearfix"></div>
      </div>


      <div class="clearfix"></div>


    </div>
    <div class="form_div2">

      <h2>How long have you worked in the healthcare industry? <span>*</span></h2>

      <div class="form-group">
        <input type="radio"  [formControl]="dataForm.controls['healthcare_industry_year']" name="healthcare_industry_year" value="1 to 2 Years">
        <label>1 to 2 Years </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio"  [formControl]="dataForm.controls['healthcare_industry_year']" name="healthcare_industry_year" value="2 to 4 Years">
        <label> 2 to 4 Years  </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['healthcare_industry_year']" name="healthcare_industry_year" value="4 to 10 Years">
        <label>  4 to 10 Years  </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['healthcare_industry_year']" name="healthcare_industry_year" value="Over 10 Years">
        <label> Over 10 Years </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['healthcare_industry_year']" name="healthcare_industry_year" value="No healthcare industry background, but I have good contacts with physicians">
        <label> No healthcare industry background, but I have good contacts with physicians. </label>
        <div class="clearfix"></div>
      </div>
      <span class="has-error" *ngIf ="dataForm.controls['healthcare_industry_year'].touched && !dataForm.controls['healthcare_industry_year'].valid">This Field is Required !</span>

      <div class="clearfix"></div>

    </div>

    <div class="form_div2">

      <h2>Are you looking for a career change or to create sideline income? Please explain. <span>*</span></h2>

      <textarea [formControl]="dataForm.controls['carrer_change']"></textarea>
      <span class="has-error" *ngIf ="dataForm.controls['carrer_change'].touched && !dataForm.controls['carrer_change'].valid">This Field is Required !</span>
      <div class="clearfix"></div>

    </div>

    <div class="form_div2">

      <h2>How many doctor/clinic relationships do you have that you can visit immediately?  <span>*</span></h2>

      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['doctor_count']" name="doctor_count" value="1 to 5">
        <label>1 to 5  </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['doctor_count']" name="doctor_count" value="6 to 20">
        <label> 6 to 20  </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio"  [formControl]="dataForm.controls['doctor_count']" name="doctor_count" value="20 to 50">
        <label> 20 to 50   </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio"  [formControl]="dataForm.controls['doctor_count']" name="doctor_count" value="50 to 100">
        <label>50 to 100  </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio"  [formControl]="dataForm.controls['doctor_count']" name="doctor_count" value="100 to 500">
        <label>100 to 500  </label>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <input type="radio"  [formControl]="dataForm.controls['doctor_count']" name="doctor_count" value="500 or more">
        <label>500 or more   </label>
        <div class="clearfix"></div>
      </div>
      <span class="has-error" *ngIf ="dataForm.controls['doctor_count'].touched && !dataForm.controls['doctor_count'].valid">This Field is Required !</span>

      <div class="clearfix"></div>

    </div>

    <div class="form_div2">

      <h2>When are you ready to get started? <span>*</span></h2>

      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['get_started']" name="get_started" value="Tomorrow">
        <label>Tomorrow</label>
       <!-- <div class="clearfix"></div>-->
      </div>
      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['get_started']" name="get_started" value="Next Week">
        <label>Next Week   </label>
      <!--  <div class="clearfix"></div>-->
      </div>
      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['get_started']" name="get_started" value="This Week">
        <label>This Week </label>
       <!-- <div class="clearfix"></div>-->
      </div>
      <div class="form-group">
        <input type="radio" [formControl]="dataForm.controls['get_started']" name="get_started" value="This Month">
        <label>This Month   </label>
        <div class="clearfix"></div>
      </div>
        <span class="has-error" *ngIf ="dataForm.controls['get_started'].touched && !dataForm.controls['get_started'].valid">This Field is Required !</span>


      <div class="clearfix"></div>

    </div>

    <div class="form_div2">

      <h2>share any additional info that will help us in making a decision to move forward and hire you: </h2>

      <textarea [formControl]="dataForm.controls['additional_info']"></textarea>
      <span class="has-error" *ngIf ="dataForm.controls['additional_info'].touched && !dataForm.controls['additional_info'].valid">This Field is Required !</span>
      <div class="clearfix"></div>

    </div>

    <div class="form_div2">

      <h2>Please tell us your background in the healthcare industry:  </h2>

      <textarea [formControl]="dataForm.controls['background_info']"></textarea>
      <span class="has-error" *ngIf ="dataForm.controls['background_info'].touched && !dataForm.controls['background_info'].valid">This Field is Required !</span>

      <div class="clearfix"></div>

    </div>

    <div class="form_div2">

      <h2>Please tell us your greatest attribute as a marketer and sales person: </h2>

      <textarea [formControl]="dataForm.controls['greatest_attribute']"></textarea>
      <span class="has-error" *ngIf ="dataForm.controls['greatest_attribute'].touched && !dataForm.controls['greatest_attribute'].valid">This Field is Required !</span>

      <div class="clearfix"></div>

    </div>


    <input type="submit" value="submit" class="home_subbtn">

  </form>



</div>
<!--<button (click)="unsetcookie()">Menu Off</button><br>
<button (click)="setcookie()">Menu On</button>-->
<app-footer></app-footer>



<div *ngIf="isModalShown" class="modal fade" (onHidden)="onHidden()" bsModal #staticModal="bs-modal" [config]="{ show: true}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
     <!--   <img src="../../assets/images/logo.png">-->
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="../../assets/images/logo.png" alt="logo" class="img-responsive center-block" >
      </div>
      <div class="modal-body">
        <p style="text-align: center">Foremost Laboratories Questionnaires submitted successfully!</p>
      </div>
    </div>
  </div>
</div>

