<app-header></app-header>
<div class="container-fluid allergy_banner_wrapper_top">
  <h2>Earn north of 6 figures from just one qualified physician practice</h2>
</div>
<div class="container-fluid allergy_banner_wrapper">
  <img src="../../assets/images/allergy_moobilebanner.jpg" alt="#"  class="allergy_mobilebanner">
  <div class="pagemainwrapper">
    <div class="allergy_banner_wrapper_content">
      <img src="../../assets/images/allergy_banner_logo.png" alt="#"  class="allergy_banner_logo">
      <h4>Your Patients Have Allergies</h4>
      <h5>Here’s The Solution</h5>
    </div>
  </div>
</div>

<div class="container-fluid allergy_finger_pick_block1" >
  <div class="pagemainwrapper">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12 allergy_finger_pick_block1_left">
        <div class="row is-table-row-general">
          <div class="col-sm-3 allergy_finger_pick_block1_left_single">
            <div class="allergyfingerpickblock1wrapper">
              <img src="../../assets/images/allergyfingerpickblock1-img1.png">
              <div class="allergyfingerpickblock1single">
                <h2>STEP 1</h2>
                <p>TEST</p>
              </div>
            </div>
          </div>
          <div class="col-sm-1 border-right-css_wrapper">
            <div class="border-right-css">
            </div>
          </div>
          <div class="col-sm-3 allergy_finger_pick_block1_left_single">
            <div class="allergyfingerpickblock1wrapper">
              <img src="../../assets/images/allergyfingerpickblock1-img2.png">
              <div class="allergyfingerpickblock1single">
                <h2>STEP 2</h2>
                <p>PRESCRIBE</p>
              </div>
            </div>
          </div>
          <div class="col-sm-1 border-right-css_wrapper">
            <div class="border-right-css">
            </div>
          </div>
          <div class="col-sm-4 allergy_finger_pick_block1_left_single">
            <div class="allergyfingerpickblock1wrapper">
              <img src="../../assets/images/allergyfingerpickblock1-img3.png">
              <div class="allergyfingerpickblock1single">
                <h2>STEP 3</h2>
                <p>BRUSH TEETH</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 allergy_finger_pick_block1_right">
        <button type="button" class="btn btn-default">Read More</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid allergy_finger_pick_block2" >
  <img src="../../assets/images/allergy_finger_pick_block2_mobilebg.jpg" class="allergy_finger_pick_block2_mobilebg">
  <div class="pagemainwrapper">
    <div class="row">
      <div class="allergy_finger_pick_block2_content">
        <h2>ALLERGIES FOR KIDS</h2>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid allergy_finger_pick_block3">
  <img src="../../assets/images/allergy_finger_pick_block3_mobilebg.jpg" class="allergy_finger_pick_block3_mobilebg">
  <div class="pagemainwrapper">
    <div class="row">
      <div class="col-md-12 allergy_finger_pick_block3_list1">
        <h2>Allergy Facts</h2>
        <ul class="list-inline">
          <li>40% of children have allergies</li>
          <li>90% of asthma is triggered by allergies</li>
          <li>Severe shortage of pediatric allergists</li>
          <li>The #1 national pediatrician concern</li>
        </ul>
      </div>
    </div>

    <div class="row allergy_finger_pick_block3_list2">
      <div class="col-md-12">
        <h2>Scope of Problem</h2>
        <ul>
          <li>Allergies are a major cause of illness in the United States. Up to 60 million Americans, including millions of children, have some type of allergy</li>
          <li>The American Academy of Allergy, Asthma, and Immunology estimates that up to 2 million, or 8%, of children in the United States are affected by food allergies. Eight foods account for most of those: cow's milk, eggs, fish and shellfish, peanuts and tree nuts, soy, and wheat</li>
          <li>Allergies lead to about 2 million missed school days each year</li>
        </ul>
      </div>
    </div>
    <div class="row allergy_finger_pick_block3_list2">
      <div class="col-md-12">
        <h2>Result of Problem</h2>
        <ul>
          <li>Most patients only treat symptoms​​​​​​ because standard testing and treatment are too traumatic and time consuming</li>
          <li>Antihistamines, decongestants, inhalers, steroids are prescribed in the form of pills, eye drops, nasal Sprays</li>
          <li>Americans spent <span>$17.5 billion in 2010</span></li>
          <li>Dreaded trips to the emergency room from various activities, such as an asthma attack during basketball in Spring, soccer in summer, or football in Fall</li>
          <li>More than half of parents say seasonal allergies affect their children, with some unsure how to choose the right medicine and 1 in 7 giving allergy medicine labeled for adults</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid allergy_finger_pick_block4" >
  <img src="../../assets/images/allergy_finger_pick_block4_mobilebg.jpg" class="allergy_finger_pick_block4_mobilebg">
  <div class="pagemainwrapper">
    <div class="row">
      <div class="allergy_finger_pick_block4_content">
        <h2>ALLERGIES FOR ADULTS</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid allergy_finger_pick_block5">
  <img src="../../assets/images/allergy_finger_pick_block5_mobilebg.jpg" class="allergy_finger_pick_block5_mobilebg">
  <div class="pagemainwrapper">
    <div class="row">
      <div class="col-md-12 allergy_finger_pick_block5_list1">
        <h2>ADULT ALLERGIES</h2>
        <p>Early identification of chronic allergies and subsequent treatment of systemic inflammatory response may be effective in the control of multiple symptoms
          associated with many diseases associated with increased circulating cytokines.</p>
        <p>Early treatment of adults with SLIT based toothpaste for subacute and chronic allergies is well documented and effective with no allergic reactions in over 2 million treatments, in comparison to SCIT (subcutaneous immunotherapy).  Clinical symptoms using OMIT (oral mucosal immunotherapy) based Allerdent​​​® have been noted to improve as early as 6 weeks, although a course of therapy to fully treat allergies is typically 3 to 5 years. [4]</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 allergy_finger_pick_block5_list2">
        <h2>ALLERGY FACTS</h2>
        <ul>
          <li>Up to 30 percent of all adults <span>(and 40% of children)</span> suffer from Allergic Rhinitis (AR).​​​ [1]</li>
          <li>Approximately 60 million Americans are affected by allergic diseases, ranking AR as the third-leading chronic disease in the U.S. among individuals younger than 45, and the fifth leading cause of chronic disease. [1]</li>
          <li>Chronic allergic symptoms such as AR and Asthma are significantly associated with an increased risk of coronary heart
            disease. [2]</li>
          <li>Chronic allergies are the cause of increased sensation of pain.  If chronic mediators of inflammation remain,
            the pain may remain constant, due to a lowered threshold from systemic inflammation. [3]</li>
          <li>Many chronic diseases such as Cancer, autoimmune diseases such as Lupus and Rheumatoid Arthritis and Crohn’s disease are all associated with increased mediators of inflammation <span>(like those associated with chronic allergies)</span>.  Symptoms of those diseases such as pain could be controlled more effectively by decreasing systemic inflammation from circulating cytokines. [3]</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid allergy_finger_pick_block6">
  <div class="pagemainwrapper">
    <div class="row">
      <div class="col-md-12 allergy_finger_pick_block6_list1">
        <h2>Standard Allergy Testing</h2>
        <div class="row imglist">
          <div class="col-sm-3 allergy_finger_pick_block6_list1_single">
            <div class="allergy_finger_pick_block6_list1_single_wrapper">
              <img src="../../assets/images/allergy_finger_pick_block6_list1_img1.jpg" class="allergy_finger_pick_block6_list1_img">
            </div>
          </div>
          <div class="col-sm-3 allergy_finger_pick_block6_list1_single">
            <div class="allergy_finger_pick_block6_list1_single_wrapper">
              <img src="../../assets/images/allergy_finger_pick_block6_list1_img2.jpg" class="allergy_finger_pick_block6_list1_img">
            </div>
          </div>
          <div class="col-sm-3 allergy_finger_pick_block6_list1_single">
            <div class="allergy_finger_pick_block6_list1_single_wrapper">
              <img src="../../assets/images/allergy_finger_pick_block6_list1_img3.jpg" class="allergy_finger_pick_block6_list1_img">
            </div>
          </div>
          <div class="col-sm-3 allergy_finger_pick_block6_list1_single">
            <div class="allergy_finger_pick_block6_list1_single_wrapper">
              <img src="../../assets/images/allergy_finger_pick_block6_list1_img4.jpg" class="allergy_finger_pick_block6_list1_img">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <ol class="what_list">
          <li><span><span class="colorblue">Painful</span> - 40-50 skin scratches​​ (on average)</span></li>
          <li><span><span class="colorblue">Only tests</span> 40-50 allergens</span></li>
          <li><span><span class="colorblue">Time consuming</span> - 20-25 minutes​</span></li>
          <li><span><span class="colorblue">Potential risks</span> – Intradermal shot of food & other allergens</span></li>
          <li><span><span class="colorblue">Potential risks</span> - Introduction of food with food challenge</span></li>
        </ol>

      </div>
    </div>
  </div>
</div>


<div class="container-fluid allergy_finger_pick_block7" >
  <img src="../../assets/images/allergy_finger_pick_block7_mobilebg.jpg" class="allergy_finger_pick_block7_mobilebg">
  <div class="pagemainwrapper">
    <div class="row">
      <div class="allergy_finger_pick_block7_content">
        <div class="row allergy_finger_pick_block7_list2">
          <h2>ALLERGIES FOR ADULTS</h2>
          <ul>
            <li><strong>Weekly Shots (SCIT):</strong> This method is extremely time consuming. Additonally, most children are afraid of the injections, yielding low compliance</li>
            <li><strong>Sublingual immnotherapy (SLIT):</strong> Sitting still & hold drops under the tongue for two minutes is typically a difficult task to ask a young child to do​</li>
            <li>SCIT and SLIT have been the current standard of care for the past 20 years</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid allergy_finger_pick_block8" >
  <div class="pagemainwrapper">
    <h2>BENEFITS</h2>
    <div class="row is-table-row allergy_finger_pick_block8_single">
      <div class="col-md-6">
        <div class="allergy_finger_pick_block8_imgwrapper">
          <img src="../../assets/images/allergy_finger_pick_block8_img1.jpg" class="allergy_finger_pick_block8_img1">
        </div>
      </div>
      <div class="col-md-6 allergy_finger_pick_block8_content">
        <h2>Benefits to Child</h2>
        <p><strong>Now introducing</strong> a test and treatment program for non-food based allergies that is not frightening! This safe and natural therapy is extremely effective and easy to implement. With Berry and Mint flavored prescription Allerdent tooth paste, they can now simply ​​​​brush away their allergies!​ Due to high adherent rates, </p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="allergy_finger_pick_block8_single_border"></div>
    <div class="row is-table-row allergy_finger_pick_block8_single">
      <div class="col-md-6 pull-right">
        <div class="allergy_finger_pick_block8_imgwrapper secondbg pull-right">
          <img src="../../assets/images/allergy_finger_pick_block8_img2.png" class="allergy_finger_pick_block8_img1">
        </div>
      </div>
      <div class="col-md-6 allergy_finger_pick_block8_content pull-left">
        <h2>Benefits to Parents</h2>
        <p><strong>This treatment</strong> plan is the ultimate time and money saver. Other treatment plans, such as weekly injection shots (SCIT) or sublingual drops (SLIT) are both costly and time consuming. However, with the prescription Allerdent® toothpaste, your child can ​​brush away their allergies by doing something they would have done, anyway - while saving them time and money! </p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="allergy_finger_pick_block8_single_border"></div>
    <div class="row is-table-row allergy_finger_pick_block8_single">
      <div class="col-md-6">
        <div class="allergy_finger_pick_block8_imgwrapper thirdbg">
          <img src="../../assets/images/allergy_finger_pick_block8_img3.png" class="allergy_finger_pick_block8_img1">
        </div>
      </div>
      <div class="col-md-6 allergy_finger_pick_block8_content">
        <h2>Benefits to Practice</h2>
        <p><strong>Pediatric Allergy</strong> Solutions has created a solution to the national pediatric allergy concern. The practice will monitor the patient measured results through annual finger stick retesting with quarterly office visits and physician prescribed Allerdent® toothpaste that is specifically
          designed to decrease non-food allergies. With a lower overall treatment expense for the
          parents, the practice is able to retain and continue care for their patients. </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!--<div class="essential_banner_wrapper" style="background: none; height: auto;">

  <h2>Earn north of 6 figures from just one qualified physician practice</h2>

</div>
<img src="../../assets/images/allergy_finger_img1.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img2.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img3.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img4.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img5.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img6.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img7.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img8.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img9.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img10.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img11.jpg" alt="#" style="width: 100%;" >
<img src="../../assets/images/allergy_finger_img12.jpg" alt="#" style="width: 100%;" >-->
<app-footer></app-footer>
